<div class="center">
  <div class="administrativo">

    <h1>Operações Disponíveis</h1>
    <a href="#!adicionar-livro"><button class="btn btn-primary">Adicionar Livro</button></a>
    <a href="#!incluir-livro"><button class="btn btn-warning">Alterar Livro</button></a>
    <a href="#!incluir-livro"><button class="btn btn-danger">Remover Livro</button></a>
    <a href="#!incluir-livro"><button class="btn btn-info">Revisar Livro</button></a>
    <a href="#!incluir-livro"><button class="btn btn-success">Publicar Livro</button></a>

  </div>
</div>