<div class="amigos">
  <header id="header" class="row">
    <div class="col-md-12">
      <div class="well header">
        <a href="#!/"><h1>Meme's Book</h1></a>
      </div>
    </div>
  </header>
  <div class="container">

    <form class="form-horizontal">
      <div class="form-group">
        <label for="amigo" class="col-sm-2 control-label">Buscar amigos:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="amigo" placeholder="Nome" ng-model="buscaAmigos">
        </div>
      </div>
    </form>

    <section class="col-md-2" ng-repeat="amigo in amigos | filter:buscaAmigos">
      <div class="media">
        <a href="#!/amigo/{{amigo.idAmigo.id}}">
          <img ng-src="{{amigo.idAmigo.foto}}" class="img-responsive" alt="">
          <span>{{amigo.idAmigo.nome}}</span>
        </a>
      </div>
    </section>
  </div>
</div>