<div class="amigos">
  <header id="header" class="row">
    <div class="col-md-12">
      <div class="well header">
        <a href="#!/"><h1>Meme's Book</h1></a>
      </div>
    </div>
  </header>
  <div class="container">

    <form class="form-horizontal">
      <div class="form-group">
        <label for="amigo" class="col-sm-2 control-label">Buscar amigos:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="amigo" placeholder="Nome">
        </div>
      </div>
    </form>

  <section class="col-md-2">
      <div class="media">
        <img src="../assets/images/login-background.jpg" class="img-responsive" alt="">
        <span>Amigo</span>
      </div>
    </section>
  </div>
</div>