<div class="home">
  <header id="header" class="row">
    <div class="col-md-12">
      <div class="well header">
        <a href="#!/"><h1>Meme's Book</h1></a>
      </div>
    </div>
  </header>
  <div class="container">
  <main class="row">
    <nav class="col-md-3">
      <div class="well">
        <a href="#">
          <img ng-src="{{usuario.foto}}" class="img-responsive" alt="">
        </a>
        <nav class="nav-pills nav-stacked">
          <h4><a href="#">{{usuario.nome}}</a></h4>
          <h4 ng-if="usuario.isInHome"><a href="#!/amigos">Seus Amigos</a></h4>
          <h4 ng-if="usuario.isInHome"><a href="#!/pessoas">Encontre novos amigos</a></h4>
          <h4><a href="#"> Solicitações ({{usuario.qtoSolicitacoes}}) </a></h4>
          <h4 ng-if="usuario.isInHome"><a href="#!/editar"> Editar perfil</a></h4>
          <h4 ng-if="usuario.isInHome"><a href="" ng-click="logout()">Logout</a></h4>
        </nav>
      </div>
    </nav>

     <aside class="col-md-3 col-xs-12 pendentes">
      <div class="solicitacoes">
					<span class="bold">Solicitações de amizade</span>
          <div class="solicitacao clearfix" ng-if="usuario.solicitacoes.length === 0">
            <span>Você não possui nenhuma solicitação pendente</span>
          </div>
					<div class="solicitacao clearfix" ng-repeat="solicitacao in  usuario.solicitacoes">
						<img class="user-pic-solic" ng-src="{{solicitacao.idUsuario.foto}}" alt="">
						<div class="bold user-add">{{solicitacao.idUsuario.nome}}</div>
						<button type="button" class="btn btn-success" ng-click="aceitar(solicitacao)">
              <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button type="button" class="btn btn-danger" ng-click="rejeitar(solicitacao)">
              <span class="glyphicon glyphicon-remove"></span>
          </button>
					</div>
				</div>
    </aside>
    <section class="col-md-6">

      <form class="form-horizontal form-post" novalidate ng-submit="postar(post)" ng-if="usuario.isInHome">
        <h2>VOCÊ DISSE MEMES?</h2>
        <div class="form-group">
          <label for="texto" class="col-sm-2 control-label">Texto</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" name="texto" placeholder="Dank meme" required ng-model="post.texto"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="foto" class="col-sm-2 control-label">Foto</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="foto" placeholder="http://foto.jpg" required ng-model="post.foto">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Postar</button>
          </div>
        </div>
      </form>

      <div class="media" ng-repeat="post in posts | orderBy: '-id'">
        <div class="media-left">
          <a ng-href="#!/amigo/{{post.idUsuario.id}}">
            <img class="media-object img-post-user" ng-src="{{post.idUsuario.foto}}"  alt="Generic placeholder image">
          </a>
        </div>

        <div class="media-body">
          <h4 class="media-heading">{{post.idUsuario.nome}} disse</h4>
          <p>{{post.texto}}</p>
          <img ng-src="{{post.foto}}" class="img-responsive" alt="">
          <p>
            <a href="" ng-click="showComentarPost(post.id)">Comentar</a> 
            <a href="#" ng-if="!post.isLiked" ng-click="curtir(post.id)">Curtir</a>
            <a href="#" ng-if="post.isLiked" ng-click="descurtir(post.curtidas)">Descurtir</a>
          </p>

          <form class="form-horizontal form-post" novalidate ng-if="showComentar && postComentar == post.id" ng-submit="comentar(comentario, post.id)">
            <div class="form-group">
              <label for="texto-comentario" class="col-sm-2 control-label">Texto</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="5" name="texto" placeholder="Dank meme" required ng-model="comentario.texto"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="foto" class="col-sm-2 control-label">Foto</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="foto-comentario" placeholder="http://foto.jpg" required ng-model="comentario.foto">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Postar</button>
              </div>
            </div>
          </form>

          <p class="small">{{post.qtoComentarios}} comentarios</p>
          <p class="small">{{post.qtoCurtidas}} curtidas</p>
          <div class="media" ng-repeat="comentario in post.comentarios">
            <div class="media-left">
              <a href="#!/amigo/{{comentario.idUsuario.id}}">
                <img class="img-comment-user" ng-src="{{comentario.idUsuario.foto}}" alt="Generic placeholder image">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{comentario.idUsuario.nome}}</h4>
              <p>{{comentario.texto}}</p>
              <img ng-src="{{comentario.foto}}" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="col-md-6 col-xs-offset-3" ng-if="!postsPages.last">
        <button class="btn btn-default extended" type="button" ng-click="avancar()">Veja mais</button>
    </section>
  </main>
  <hr>
  <footer class="row">
    <div class="col-md-6">
      <p>© Copyright no one at all.</p>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-pills pull-right">
      </ul>
    </div>
  </footer>
</div>
</div>