<div class="amigos">
  <header id="header" class="row">
    <div class="col-md-12">
      <div class="well header">
        <a href="#!/"><h1>Meme's Book</h1></a>
      </div>
    </div>
  </header>
  <div class="container">

    <form class="form-horizontal">
      <div class="form-group">
        <label for="pessoa" class="col-sm-2 control-label">Buscar pessoas:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="pessoa" placeholder="Nome" ng-model="buscapessoas">
        </div>
      </div>
    </form>

    <section class="col-md-2" ng-repeat="pessoa in pessoas | filter:buscapessoas">
      <div class="media">
        <img ng-src="{{pessoa.foto}}" class="img-responsive" alt="">
        <span>{{pessoa.nome}}</span>
        <div class="col-md-offset-2 col-md-10">
          <button class="btn btn-primary" ng-click="adicionar(pessoa.id)">Adicionar</button>
        </div>
      </div>
    </section>
  </div>
</div>