* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  background-color: #f7f4ed;
}

.lancamentos h2, .livros h2 {
  color: #f8965d;
  text-align: left;
  font-weight: 700;
  font-size: 1.75em;
  border-bottom: 2px solid rgba(248,150,93,0.3);
}

h4 {
  font-weight: 600;
  text-align: center;
}

.container-fluid { padding: 0; }

nav {
  background-color: #f8965d;
  width: 100%;
  height: 100%;
}

nav .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 2%;
    overflow: hidden;
    background-color: #f8965d;
    float: left;
    height: 100%;
}

nav .logo {
  float: left;
  background-color: #f8965d;
}

nav .logo span {
  background-color: #f8965d;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

nav img {
  width: 50px;
}

nav .menu li { 
  float: left; 
  background-color: #f8965d; 
  }

nav .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .menu li a:hover { background-color: #f8965d; }

.center {
  padding: 0 5%;
  margin: 0;
  width: auto;
}

.item {
  margin: 5% 15%;
  width: auto;
}

img {
  height: auto;
  width: 250px;
}

.list li { float: left; }
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list a:link {
  text-decoration: none;
  color: black;
}

.img-height {
  height: 380px;
}

.center .pagination {
  position: absolute;
  left: 45%;
}

.detalhes {
  margin-top: 5%;
}

.detalhes .col-md-6 {
  margin-bottom: 10%;
}

.detalhes h1 {
  font-weight: 800;
  font-size: 40px;
}

.detalhes h4 {
  display: inline-block;
}

.detalhes h2 {
  color: #2f3030;
  text-align: left;
  font-weight: 700;
  font-size: 1.75em;
  border-bottom: 2px solid rgba(47, 48, 48, 0.3);
}

.detalhes img {
  width: 500px;
}

.administrativo {
  text-align: center;
}

.administrativo h1 {
  font-weight: 700;
}

.administrativo .btn{
  width: 18%;
  height: 100px;
  font-size: 25px;
  font-weight: 600;
  margin: 0.5%;
  margin-top: 2%;
}

.operacoes {
  margin-top: 5%;
}

.operacoes .strech {
  width: 65%;
  margin: 0 17.5%;
}

.operacoes .novo-autor {
  color: #45a84e;
  font-weight: 700;
}

.operacoes .alterar h2 {
  font-weight: 700;
  text-align: center;
}

.operacoes .alterar table img {
  width: 25px;
}

.operacoes .remover h2 {
  font-weight: 700;
  text-align: center;
}

.operacoes .remover table img {
  width: 25px;
}

/* ----- Login ----- */
nav ul {
  margin: 0;
  padding: 0;
  margin-right: 2%;
  list-style: none;
  position: relative;
  float: right;
  background: #eee;
  border-bottom: 1px solid #fff;
  border-radius: 3px;    
}

nav li {
  float: left;          
}

nav #login {
  border-right: 1px solid #ddd;
  box-shadow: 1px 0 0 #fff;  
}

nav #login-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff; 
}

nav #signup a {
  border-radius: 0 3px 3px 0;
}

nav #login-trigger {
  border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  background: #fff;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: 0;
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {    
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100%;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {    
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
} 

#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}