* {
  box-sizing: border-box;
  background-color: #f7f4ed;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
}

h2 {
  color: #f8965d;
  text-align: left;
  font-weight: 700;
  font-size: 1.75em;
  border-bottom: 2px solid rgba(248,150,93,0.3);
}

h4 {
  font-weight: 600;
  text-align: center;
}

.container-fluid { padding: 0; }

nav {
  background-color: #f8965d;
  width: 100%;
  height: 100%;
}

nav .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 2%;
    overflow: hidden;
    background-color: #f8965d;
    float: left;
    height: 100%;
}

nav .logo {
  float: left;
  background-color: #f8965d;
}

nav .logo span {
  background-color: #f8965d;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

nav img {
  width: 50px;
}

nav .menu li { 
  float: left; 
  background-color: #f8965d; 
  }

nav .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .menu li a:hover { background-color: #f8965d; }

.center {
  padding: 0 5%;
  margin: 0;
  width: auto;
}

.item {
  padding: 5% 15%;
  width: auto;
}

img {
  height: auto;
  width: 250px;
}

.list li { float: left; }
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.livros {

}

.center .pagination {
  position: absolute;
  left: 50%;
}

