<div class="chat_window">
   <div class="top_menu">
      <div class="buttons">
         <div class="button close" ng-click="sair()"></div>
         <div class="button minimize"></div>
         <div class="button maximize"></div>
      </div>
      <div class="title">Jabel's Chat</div>
   </div>
   <ul class="messages">
     <li class="message appeared" ng-repeat="item in mensagens" ng-class="(usuarioAtual.Nome == item.Usuario.Nome) ? 'right' : 'left'">
      <img class="avatar" ng-src="{{item.Usuario.Foto}}" alt="{{item.Usuario.Nome}}">
        <div class="text_wrapper">
          <div class="text">{{item.Texto}}</div>
        </div>
     </li>
   </ul>
   <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">
        <form ng-submit="addMensagem(mensagem)">
          <input class="message_input" placeholder="" ng-model="mensagem.Texto" />
        </form>
      </div>
      <div class="send_message" ng-click="addMensagem(mensagem)">
         <div class="icon"></div>
         <div class="text">Enviar</div>
      </div>
   </div>
</div>