 <div class="col-md-12" ng-controller="InstrutorController">
        <form class="col-md-5 form-horizontal" name="createInstrutor" novalidate ng-submit="adicionarInstrutor()">
            <div class="col-md-12 form-group">
              <div class="form-group">
              <h2>Adicionar Instrutor</h2>
              <label for="novoInstrutor">Nome:</label>
              <input 
                class="form-control" 
                type="text" 
                name="novoInstrutor" 
                placeholder="Digite um nome para o instrutor" 
                required 
                minlength="2"
                maxlength="20"
                ng-model="novoInstrutor.nome"
              >
            </div>

            <div class="form-group">
              <label for="foto">Foto:</label>
              <input class="form-control" type="text" name="foto" placeholder="http://foto.com/3.png" ng-model="novoInstrutor.foto">
            </div>

            <div class="form-group">
              <label for="sobrenome">Sobrenome:</label>
              <input class="form-control" type="text" name="sobrenome" maxlength="30" ng-model="novoInstrutor.sobrenome">
            </div>

            <div class="form-group">
              <label for="idade">Idade:</label>
              <input class="form-control" type="number" name="idade" required  ng-model="novoInstrutor.idade">
            </div>
            
            <div class="form-group">
              <label for="email">Email:</label>
              <input class="form-control" type="email" name="email" required ng-model="novoInstrutor.email">
            </div>
            
            <div class="form-group">
              <label for="DandoAula">Dando aula:</label>
              <input class="form-control checkbox-dandoAula-create" type="checkbox" name="dandoAula" ng-checked="deuAula" ng-model="novoInstrutor.dandoAula">
            </div>
            
            <div class="form-group" ng-repeat="item in aulas | orderBy: 'nome'">
              <label>
                <input class="checkbox-aula" type="checkbox" name="aulas" value="{{item}}">
                {{item.nome}}
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-primary form-control" type="submit">Adicionar</button>
            </div>
          </form>
      </div>

      <div class="col-md-7">
          <h2>Instrutores</h2>
          <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
              <th>ID</th>
              <th>Foto</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Idade</th>
              <th>Email</th>
              <th>Dando aula</th>
              <th>Aulas</th>
              <th>Editar</th>
              <th>Deletar</th>
            </tr>
            <tr ng-repeat="item in instrutores | orderBy: 'nome'">
              <td>{{item.id}}</td>
              <td><img ng-src="{{item.foto}}" alt="Foto do {{item.nome}} {{item.sobrenome}}"></td>
              <td>{{item.nome}}</td>
              <td>{{item.sobrenome}}</td>
              <td>{{item.idade}}</td>
              <td>{{item.email}}</td>
              <td>{{item.dandoAula}}</td>
              <td>
                <ul>
                  <li ng-repeat="aula in item.aulas">{{aula | idToNome:this}}</li>
                </ul>
              </td>
              <td><button class="btn btn-warning" ng-click="mostrarInstrutor(item)"><span class="glyphicon glyphicon-pencil"></span></button></td>
              <td><button class="btn btn-danger" ng-click="deletarInstrutor(item)"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
          </table>
        </div>
        <div class="col-md-7">
           <form class="col-md-12 form-horizontal" name="updateInstrutor" novalidate ng-submit="editarInstrutor()"  ng-show="showEditInstrutor">
            <div class="col-md-12 form-group">
              <div class="form-group">
              <h2>Editar Instrutor</h2>
              <label for="editInstrutor">Nome:</label>
              <input 
                class="form-control" 
                type="text" 
                name="editInstrutor" 
                placeholder="Digite um nome para o instrutor" 
                required 
                minlength="2"
                maxlength="20"
                ng-model="editInstrutor.nome"
              >
            </div>

            <div class="form-group">
              <label for="editFoto">Foto:</label>
              <input class="form-control" type="text" name="editFoto" placeholder="http://foto.com/3.png" ng-model="editInstrutor.foto">
            </div>

            <div class="form-group">
              <label for="editSobrenome">Sobrenome:</label>
              <input class="form-control" type="text" name="editSobrenome" maxlength="30" ng-model="editInstrutor.sobrenome">
            </div>

            <div class="form-group">
              <label for="editIdade">Idade:</label>
              <input class="form-control" type="number" name="editIdade" required  ng-model="editInstrutor.idade">
            </div>
            
            <div class="form-group">
              <label for="editEmail">Email:</label>
              <input class="form-control" type="email" name="editEmail" required ng-model="editInstrutor.email">
            </div>
            
            <div class="form-group">
              <label for="editDandoAula">Dando aula:</label>
              <input class="form-control" type="checkbox" name="editDandoAula" ng-checked="editInstrutor.dandoAula" ng-model="editInstrutor.dandoAula">
            </div>
            
            <div class="form-group" ng-repeat="item in aulas">
              <label>
                <input class="checkbox-edit-aula" type="checkbox" name="editAulas" value="{{item.id}}" ng-checked="getCheckedAula(item.id)">
                {{item.nome}}
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-primary form-control" type="submit">Editar</button>
            </div>
          </form>
        </div>