<!DOCTYPE html>
<html ng-app="aula03">
    <head>
			<title>AngularJs - Aula 03</title>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<script src="../angular.js"></script>
			<script src="js/controller.js"></script>
			<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
			<link href="style.css" rel="stylesheet">
    </head>
    <body>
		<div class="container" ng-controller="MainController">
			<h1>AngularJS - Aula 03</h1>
			<br>
			<form class="col-md-6" name="formAula03" class="form-horizontal" novalidate ng-submit="incluirInstruror(instrutor)">
				<div class="form-group">
					<label for="nome">Nome:</label>
					<input class="form-control" type="text" name="nome" required minlength="3" maxlength="20" ng-model="instrutor.nome">
				</div>

				<div class="form-group">
					<label for="sobrenome">Sobrenome:</label>
					<input class="form-control" type="text" name="sobrenome" maxlength="30" ng-model="instrutor.sobreNome">
				</div>

				<div class="form-group">
					<label for="idade">Idade:</label>
					<input class="form-control" type="number" name="idade" required  ng-model="instrutor.idade">
				</div>
				
				<div class="form-group">
					<label for="email">Email:</label>
					<input class="form-control" type="email" name="email" required ng-model="instrutor.email">
				</div>
				
				<div class="form-group">
					<label for="deuAula">Já deu aula:</label>
					<input class="form-control" type="checkbox" name="deuAula" ng-checked="deuAula" ng-model="instrutor.deuAula">
				</div>
				
				<div class="form-group">
					<label for="aula">Aula:</label>
					<select class="form-control" name="aula" ng-model="instrutor.aula">
						<option ng-repeat="item in aulas" value="{{item}}">{{item}}</option>
					</select>
				</div>
				
				<div class="form-group">
					<button class="btn btn-primary" type="submit">Incluir</button>
				</div>
			</form>
			<div class="col-md-6">
				<h2>Instrutores</h2>
				<ul ng-repeat="item in instrutores">
					<li><strong>Nome: {{ item.nome }}</strong></li>
					<li>Sobrenome: {{ item.sobreNome }}</li>
					<li>Idade: {{ item.idade }}</li>
					<li>Email: {{ item.email }}</li>
					<li>Já deu aula: {{ item.deuAula }}</li>
					<li>Aula: {{ item.aula }}</li>
				</ul>
			</div>
			</div>
    </body>
</html>