body {
  margin: 0 auto;
  background-color: #f0ffdd;
}

* {
    box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

form > div {
  padding-left: 200px;
}

table {
  background-color: white;
}