.container-fluid {
        height: 100vh;
    }

.height-25 {
    height: 250px;
}

.buttons {
    padding-right: 1%;
}

.row {
    height: 25%;
}

.row div {
    border: 3px solid black;
    height: 100%;
}